.temperature {
  font-size: 7em;
}

.item {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
}

.main {
  color: white;
  display: flex;
  flex-direction: row;
}

.location {
  margin-bottom: 5px;
  font-size: 3em;
}

.time {
  margin-top: 5px;  
  color: lightgray;
}
