.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondary {
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: row;
}
